pipeline/Azure_blob_data_load.json
{
	"name": "Azure_blob_data_load",
	"properties": {
		"activities": [
			{
				"name": "Take_Metadata_info",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy from Onpremise",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[selectmetdatdata]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SRCNAME",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "azuredb",
						"type": "DatasetReference",
						"parameters": {
							"AZUREDBNAME": {
								"value": "@pipeline().parameters.SRCNAME",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Cpy_OnPremise_Azure",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Take_Metadata_info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFileName": {
								"value": "*@{pipeline().parameters.SRCNAME}*",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"value": "@activity('Take_Metadata_info').output.value[0].colname",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "delimtedfileazure",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@activity('Take_Metadata_info').output.value[0].src_entity_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "azuredb",
						"type": "DatasetReference",
						"parameters": {
							"AZUREDBNAME": {
								"value": "@activity('Take_Metadata_info').output.value[0].tgt_entity_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy from Onpremise",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "*@{pipeline().parameters.SRCNAME}*",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "onpremisefiles",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "delimtedfileazure",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.SRCNAME",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"SRCNAME": {
				"type": "string"
			}
		},
		"annotations": []
	}
}