pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "azuredb",
						"type": "DatasetReference"
					},
					"fieldList": [
						{
							"value": "@pipeline().parameters.REQ_NAME",
							"type": "Expression"
						}
					]
				}
			},
			{
				"name": "Copy Data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"value": "@activity('Get Metadata1').output",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "onpremisedb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "azuredb",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"REQ_NAME": {
				"type": "string"
			}
		},
		"annotations": []
	}
}