pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy Data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBatchSize": 0,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@activity('Filter1').output",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "onpremisedb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "azuredb",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					},
					"condition": {
						"value": "@activity('Lookup1').output startswith(@pipeline().parameters.REQ_NAME)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from METADATA_INFO"
					},
					"dataset": {
						"referenceName": "azuredb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"REQ_NAME": {
				"type": "string"
			}
		},
		"annotations": []
	}
}