pipeline/SQL_DB_Data_Load.json
{
	"name": "LoadDataToAzure",
	"properties": {
		"activities": [
			{
				"name": "Take_Metadata_info",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[selectmetdatdata]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SRCNAME",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "azuredb",
						"type": "DatasetReference",
						"parameters": {
							"AZUREDBNAME": {
								"value": "@pipeline().parameters.SRCNAME",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Cpy_OnPremise_Azure",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Take_Metadata_info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[selectdata]",
						"storedProcedureParameters": {
							"colname": {
								"type": "String",
								"value": {
									"value": "@activity('Take_Metadata_info').output.value[0].colname",
									"type": "Expression"
								}
							},
							"TableName": {
								"type": "String",
								"value": {
									"value": "@activity('Take_Metadata_info').output.value[0].src_entity_name",
									"type": "Expression"
								}
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "onpremisedb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "azuredb",
						"type": "DatasetReference",
						"parameters": {
							"AZUREDBNAME": {
								"value": "@activity('Take_Metadata_info').output.value[0].tgt_entity_name",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"SRCNAME": {
				"type": "string"
			}
		},
		"annotations": []
	}
}