DF-SQLAUTOMATION/PartialArmTemplates/ArmTemplate_9_22_2019_0_12_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "DF-SQLAUTOMATION"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataToAzure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Take_Metadata_info",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[selectmetdatdata]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SRCNAME",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "azuredb",
								"type": "DatasetReference",
								"parameters": {
									"AZUREDBNAME": {
										"value": "@pipeline().parameters.SRCNAME",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Cpy_OnPremise_Azure",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Take_Metadata_info",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[selectdata]",
								"storedProcedureParameters": {
									"colname": {
										"type": "String",
										"value": {
											"value": "@activity('Take_Metadata_info').output.value[0].colname",
											"type": "Expression"
										}
									},
									"TableName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SRCNAME",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "onpremisedb",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "azuredb",
								"type": "DatasetReference",
								"parameters": {
									"AZUREDBNAME": {
										"value": "@activity('Take_Metadata_info').output.value[0].tgt_entity_name",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"SRCNAME": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}